{{- define "main" }}
{{- if site.Params.homeInfoParams.Title }}
<header class="page-header">
    <h1>{{ site.Params.homeInfoParams.Title }}</h1>
    {{- if site.Params.homeInfoParams.Content }}
    <div class="post-description">
        {{ site.Params.homeInfoParams.Content }}
    </div>
    {{- end }}
</header>
{{- end }}

<div class="home-content-wrapper">
    <div class="categories-section">
        <ul class="terms-tags">
            {{/* 1. Priority Categories */}}
            {{- $priorityTitles := slice "Calculus I" "Calculus II" "Advanced Calculus" "Differential Equations" }}

            {{- range $targetTitle := $priorityTitles }}
            {{- range site.Taxonomies.categories.Alphabetical }}
            {{- $name := .Name }}
            {{- with site.GetPage (printf "/categories/%s" $name) }}
            {{- if eq .Title $targetTitle }}
            <li>
                <a href="{{ .Permalink }}">{{ .Title }} <sup><strong><sup>{{ len .Pages }}</sup></strong></sup></a>
            </li>
            {{- end }}
            {{- end }}
            {{- end }}
            {{- end }}

            {{/* 2. Other Categories */}}
            {{- range site.Taxonomies.categories.Alphabetical }}
            {{- $name := .Name }}
            {{- if ne $name "archive" }}
            {{- with site.GetPage (printf "/categories/%s" $name) }}
            {{- if not (in $priorityTitles .Title) }}
            <li>
                <a href="{{ .Permalink }}">{{ .Title }} <sup><strong><sup>{{ len .Pages }}</sup></strong></sup></a>
            </li>
            {{- end }}
            {{- end }}
            {{- end }}
            {{- end }}
        </ul>
    </div>

    <aside class="contact-sidebar">
        <h2>Contact</h2>
        <div class="contact-content">
            <div class="contact-links">
                <a href="mailto:ozsoy.kaan@metu.edu.tr" class="contact-item">
                    <span class="contact-icon">✉️</span> ozsoy.kaan@metu.edu.tr
                </a>
                <a href="https://www.instagram.com/kaan.ozsy/" target="_blank" rel="noopener noreferrer"
                    class="contact-item">
                    <span class="contact-icon">📸</span> Instagram
                </a>
                <a href="https://www.linkedin.com/in/selim-kaan-%C3%B6zsoy-a18b45360?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
                    target="_blank" rel="noopener noreferrer" class="contact-item">
                    <span class="contact-icon">💼</span> LinkedIn
                </a>
                <a href="https://github.com/veyselmertkara/math-blog" target="_blank" rel="noopener noreferrer"
                    class="contact-item">
                    <span class="contact-icon">🐙</span> GitHub
                </a>
            </div>
        </div>
    </aside>
</div>
{{- end }}